# Environment variables for the application
NODE_ENV=
PORT=

# Database configuration
DATABASE=
DATABASE_LOCAL=
DATABASE_PASSWORD=


# JWT configuration
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_COOKIE_EXPIRES_IN=

# Email configuration
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_HOST=
EMAIL_PORT=

# Cloudinary image storage
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# SendGrid configuration
EMAIL_FROM=
SENDGRID_USERNAME=
SENDGRID_PASSWORD=

# MapTiler API key
MAPTILER_KEY=

# Stripe Keys
STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=
STRIPE_WEBHOOK_SECRET=



